html {
	position: relative;
	min-height: 100%;
}

body,
wrapper {
	min-height: 100vh;
	font-family: 'Mukta', sans-serif;
}

.card-header,
.modal-header {
	color: #ffffff;
	background-color: #22272e;
}
.card-body,
.modal-body {
	color: #dcdcdc;
	background-color: #2f363f;
}

.card-footer,
.modal-footer {
	color: #ffffff;
	background-color: #444e5c;
}

.flex-fill,
.d-flex {
	color: #dcdcdc;
	background-color: #2f363f;
	flex: 1 1 auto;
}

.fullname {
	font-family: 'Mukta', sans-serif;
	font-weight: bold;
}

.intro {
	font-family: 'Dosis', sans-serif;
	position: relative;
}

.intro:before {
	content: '';
	position: absolute;
	background: transparent;
	bottom: 10px;
	left: -10px;
	top: -20px;
	height: 25px;
	width: 25px;
	border-left: solid 3px #dcdcdc;
	border-top: solid 3px #dcdcdc;
}

.intro:after {
	content: '';
	position: absolute;
	background: transparent;
	bottom: -20px;
	right: 0px;
	height: 25px;
	width: 25px;
	border-right: solid 3px #dcdcdc;
	border-bottom: solid 3px #dcdcdc;
}

 :root {
	--jumbotron-padding-y: 3rem;
}

.jumbotron {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: transparent;
}

@media (min-width: 768px) {
	.jumbotron {
		padding-top: calc(var(--jumbotron-padding-y) * 2);
		padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .container {
	max-width: 40rem;
}

.content .container {
	max-width: 40rem;
}

.social-icon {
	margin-top: 50px;
}

.social-icon a:hover,
.footer-icon a:hover {
	color: #ffffff;
	opacity: 1;
}

.social-icon a,
.footer-icon a {
	color: #ffffff;
	opacity: 0.7;
}

.header {
	color: #ffffff;
	background-color: #22272e;
}

.footer {
	color: #ffffff;
	background-color: #444e5c;
	padding: 5px;
}

.footer-icon {
	padding: 10px;
}

.projectset {
	margin-bottom: 25px;
}

.close,
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #ffffff;
}
