@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);
@import "components/_colour";

$primary-colour: colour("blue", "lighten-1") !default;
$primary-colour-light: lighten($primary-colour, 15%) !default;
$primary-colour-dark: darken($primary-colour, 15%) !default;

$background-colour: colour("grey", "lighten-5") !default;

$secondary-colour: colour("blue", "accent-3") !default;

.primary-colour {
  background-color: $primary-colour !important;
}

.primary-colour.text {
  color: $primary-colour !important;
}

.secondary-colour {
  background-color: $secondary-colour !important;
}

.secondary-colour.text {
  color: $secondary-colour !important;
}

@import "components/_normalize";
@import "components/_style";
@import "components/_material";
@import "components/_slideshow";
@import "components/_table";
@import "components/_sweetalert";
@import "components/_navigation";
@import "components/_timeline";
@import "components/_contact-form";
