script(src="./js/jquery-1.11.2.js")
script(src="./js/jquery.poshytip.min.js")
script(src="./js/slideshow.js")
script(src="./js/sweetalert.js")
script(src="./js/navigation.js")
script(src="./js/twitter.js")
script(src="./js/timeline.js")
