*, *:after, *:before {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: $background-colour;
    font: normal 18px/22px roboto, "Varela Round", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-colour;
}

a:link, a:visited, a:hover, a:active {
    color: $primary-colour;
    text-decoration: none;
    font: inherit;
}

a:link, a:visited, a:hover, a:active {
    color: $primary-colour;
    text-decoration: none;
    font: inherit;
}

textarea, input, textarea:focus, input:focus {
    border: 1px solid;
}

#content {
    margin-top: 75px;
}

.colour-bar {
    width: 100%;
    height: 30%;
    background-color: $secondary-colour;
    position: absolute;
    z-index: -2;
    top: 0;
}

.mainContent {
    width: 90%;
    background-color: colour("shades", "white");
    padding: 3% 5%;
    z-index: 3;
    line-height: 25px;
    overflow: hidden;
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    display: block;
    border-radius: 5px;
}

.mainFooter {
    width: 90%;
    margin-bottom: 2%;
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);

    text-align: center;
    background-color: colour("shades", "white");
    margin-top: 2%;
    padding: 2% 1%;
    border-radius: 5px;
}

.mainFooter p {
    font-size: 10px;
    padding: 0 5%;
}

.footer_button {
  padding-right: 5px;
  padding-left: 5px;
}

.footer_button img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.cardContainer {
    width: 90%;
    margin: 0 auto;
    display: table;
    text-align: center;
    word-wrap: break-word;
}

.card1 {
    background-color: colour("shades", "white");
    float: left;
    margin-top: 2%;
    margin-right: 2%;
    padding: 2%;
    width: 32%;
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
}

.card2 {
    background-color: colour("shades", "white");
    float: left;
    margin-top: 2%;
    margin-right: 2%;
    padding: 2%;
    width: 32%;
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
}

.card3 {
    background-color: colour("shades", "white");
    float: left;
    margin-top: 2%;
    padding: 2%;
    width: 32%;
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
}

.tip-twitter {
  opacity: 0.8;
  z-index: 1000;
  text-align: left;
  padding: 8px 8px;
  max-width: 200px;
  color: colour("shades", "black");
  border: 1px solid colour("shades", "black");
  background-color: colour("shades", "white");
  -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
  box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);

	.tip-inner {
		font: bold 11px/14px 'Lucida Grande', sans-serif;
	}
}

@media only screen and (max-width: 800px) {
    #color-bar {
        height: 30%;
    }

    .projectsImage {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 2%;
    }

    .mainContent {
        width: 93%;
        padding: 5%;
    }

    .mainFooter {
        width: 93%;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 3% 1%;
    }

    .cardContainer {
        width: 93%;
    }

    .card1,  .card2,  .card3 {
        word-wrap: break-word;
        float: left;
        margin-top: 3%;
        padding: 6%;
        width: 100%;
    }
}
