input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="submit"].btn,
button.btn {
	cursor: pointer;
}

a.btn, .btn {
  margin-right: 1em;
  margin-bottom: 1em;
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;

	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);

	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
}

.btn:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

/* Radius */
.btn-radius {
  border-radius: 3px;
}

.btn-rounded {
  border-radius: 10em;
	overflow: hidden;
}

/* Sizes */
.btn-small {
	font-size: 0.8125em;
	padding: 0.4125em 1.25em;
}

.btn-medium {
	font-size: 0.9375em;
	padding: 0.5375em 1.375em;
}

.btn-large {
	font-size: 1.0625em;
	padding: 0.5625em 1.5em;
}

/* Colours */
a.btn-clear {
	color: #000;
	border: 0px transparent;
}

@each $colour_name, $colour in $colours {
	@each $colour_type, $colour_value in $colour {
    @if $colour_type == "base" {
    	.btn-#{$colour_name} {
      	border-color: $colour_value !important;
      	background: $colour_value !important;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    	}
    }

    @else {
      .btn-#{$colour_name}.#{$colour_type} {
      	border-color: $colour_value !important;
      	background: $colour_value !important;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      }
    }
  }
}

@each $colour, $colour_value in $shades {
	.btn-#{$colour} {
  	background: $colour_value !important;
  	border-color: $colour_value !important;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}
}
