#aboutSection {
  margin: auto;
}

#aboutSection img {
  width: 256px;
  height: 256px;
  left: 0;
  border-radius: 50%;
  border: 6px
  solid #fff;
}

div#one {
  float:left;
  top: 0;
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

div#two {
  float:left;
  width: calc(100% - 260px);
  text-align: center;
  margin-bottom: 2%;
}

div#aboutText {
  text-align: center;
  margin-bottom: 2%;
}

@media only screen and (max-width: 756px) {
  div#one {
    width: 100%;
  }

  #aboutSection img {
    z-index: 2;
    position: relative;
    left: calc(50% - 128px);
  }

  div#two {
    width: 100%;
  }
}
