$scroll-bar-size: 12px;
$scroll-bar-colour: $primary-colour;

::-webkit-scrollbar {
  display: none;
  overflow: visible;
  width: 12px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: $background-colour;
}

::-webkit-scrollbar-thumb {
//  -webkit-box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.44);
//  -moz-box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.44);
//  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.44);
}

::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: $primary-colour;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 12px;
  background-color: $primary-colour;
}
