.social-icons {
  max-width: 980px;
  margin: 0 auto;

  li {
    list-style-type: none;
  }
}

.icon {
  float: left;
  position: relative;
  width: 19%;
  height: 0;
  margin: 1% 0.5%;
  padding-bottom: 19%;

  @media all and (min-width: 640px) {
    width: 9%;
    padding-bottom: 9%;
  }

  &:last-of-type {
    margin-right: 0;
  }

  a {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s ease-out;

    &:hover {
      background-color: #222;
      background-size: 0%;
      transition: all .2s ease-out;
    }
  }
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 13px;
  text-align: center;

  transition: all .3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;

  .icon:hover & {
    transition: all .3s ease-out;
    opacity: 1;
    filter: blur(0);
  }
}

// Customise Icons
.icon--facebook a {
  background-color: #3b5998;
  background-image: url('../img/buttons/icons/facebook-128.png');
}

.icon--twitter a {
  background-color: #00aced;
  background-image: url('../img/buttons/icons/twitter-128.png');
}

.icon--linkedin a {
  background-color: #007fb1;
  background-image: url('../img/buttons/icons/linkedin-128.png');
}

.icon--instagram a {
  background-color: #5c3d2e;
  background-image: url('../img/buttons/icons/instagram-128.png');
}

.icon--flickr a {
  background-color: #c9317d;
  background-image: url('../img/buttons/icons/flickr-128.png');
}

.icon--spotify a {
  background-color: #80b719;
  background-image: url('../img/buttons/icons/spotify-128.png');
}

.icon--soundcloud a {
  background-color: #f60;
  background-image: url('../img/buttons/icons/soundcloud-128.png');
}

.icon--lastfm a {
  background-color: #d51007;
  background-image: url('../img/buttons/icons/lastfm-128.png');
}

.icon--kickstarter a {
  background-color: #87c442;
  background-image: url('../img/buttons/icons/kickstarter-128.png');
}

.icon--github a {
  background-color: #4183c4;
  background-image: url('../img/buttons/icons/github-128.png');
}
