*, *:after, *:before {
  margin: 0 auto;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $text-colour;
  background-color: #404456;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #bdbdbd;
  margin: 2em 0;
  padding: 0;
}

#background {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.main {
  z-index: 2;
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100%;

  top: 0;
}

.scroll {
  z-index: 2;
  position: relative;
  background-color: #404456;

  display: none;

  .content {
    width: 100%;
    padding: 2%;
    line-height: 25px;
    overflow: hidden;
    display: block;

    background-color: $background-colour;

    .leftArea {
      z-index: 3;
      position: relative;
      width: 39%;
      float: left;
      padding: 1%;
    }

    .rightArea {
      z-index: 3;
      position: relative;
      width: 61%;
      float: right;
      padding: 1%;
    }
  }
}

.move {
  z-index: 2;
  position: relative;

  display: none;

  width: 100%;
  height: 80px;

  line-height: 80px;
  font-size: 17px;

  color: $background-colour;
  background: rgba(51, 51, 51, 0.8);

  img {
    z-index: 5;
    position: relative;
    top: 13px;
    width: 31px;
    height: 31px;
    cursor: pointer;
    opacity: 0.75;
    filter: alpha(opacity=75);
  }
}

@media only screen and (max-width: 800px) {
  .scroll {
    .content {
      h1, p {
        text-align: center;
      }

      .rightArea {
        position: static;
        width: 100%;
        float: center;
        padding: 1%;
      }

      .leftArea {
        position: static;
        width: 100%;
        float: center;
        padding: 1%;
      }
    }
  }
}

// Texts
.text-center {
  text-align: center;
}

a {
  color: $link-colour;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

// Icons
.material-icons {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.icon-container i {
  font-size: 3em;
  margin-bottom: 10px;
}

.icon-container .icon-preview {
  height: 120px;
  text-align: center;
}

.icon-container span {
  display: block;
}

.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;

  float: left;
  margin: 0 0px 15px 0px;

  p {
    margin: 0 0;
  }
}

// Positioning
.valign-wrapper {
  display: flex;
  align-items: center;

  .valign {
    display: block;
  }
}

// Hide Helper
.hide {
  display: none !important;
}

// Text Align
.left-align {
  text-align: left;
}

.right-align {
  text-align: right
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

// Clearfix
.clearfix {
  clear: both;
}

// Z-levels
.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

// Hoverable
.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Hide / Show
.hide-on-small-only, .hide-on-small-and-down {
  @media #{$small-and-down} {
    display: none !important;
  }
}

.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}

.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none !important;
  }
}

.hide-on-med-only {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: none !important;
  }
}

.hide-on-large-only {
  @media #{$large-and-up} {
    display: none !important;
  }
}

.show-on-large {
  @media #{$large-and-up} {
    display: block !important;
  }
}

.show-on-medium {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: block !important;
  }
}

.show-on-small {
  @media #{$small-and-down} {
    display: block !important;
  }
}

.show-on-medium-and-up {
  @media #{$medium-and-up} {
    display: block !important;
  }
}

.show-on-medium-and-down {
  @media #{$medium-and-down} {
    display: block !important;
  }
}
