//output:../main.css
@charset "UTF-8";
@import "_colour";

/* Colours ======================= */

$primary-colour: colour("blue", "lighten-1") !default;
$primary-colour-light: lighten($primary-colour, 15%) !default;
$primary-colour-dark: darken($primary-colour, 15%) !default;

$background-colour: colour("grey", "lighten-5") !default;

$secondary-colour: colour("blue", "accent-3") !default;

$success-colour: color("green", "base") !default;
$error-colour: color("red", "base") !default;
$link-colour: color("light-blue", "darken-1") !default;

/* Scroll Bar ======================= */

$scroll-bar-size: 12px;
$scroll-bar-colour: $primary-colour;

/* Fonts ======================= */

$roboto-font-path: "../fonts/roboto/" !default;

/* Forms ======================= */

// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-colour: colour("grey", "base") !default;
$input-border: 1px solid $input-border-colour !default;
$input-background: #fff !default;
$input-error-colour: $error-colour !default;
$input-success-colour: $success-colour !default;
$input-focus-colour: $secondary-colour !default;
$input-font-size: 1rem !default;
$input-margin: 0 0 20px 0 !default;
$input-padding: 0 !default;
$input-transition: all .3s !default;
$label-font-size: .8rem !default;
$input-disabled-colour: rgba(0,0,0, .26) !default;
$input-disabled-solid-colour: #BDBDBD !default;
$input-disabled-border: 1px dotted $input-disabled-colour !default;
$input-invalid-border: 1px solid $input-error-colour !default;
$placeholder-text-colour: lighten($input-border-colour, 20%) !default;

// Radio Buttons
$radio-fill-colour: $secondary-colour !default;
$radio-empty-colour: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-colour !default;

// Range
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.90) !default;
$select-focus: 1px solid lighten($secondary-colour, 47%) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-colour: rgba(0,0,0,.3) !default;

// Switches
$switch-bg-color: $secondary-colour !default;
$switch-checked-lever-bg: desaturate(lighten($secondary-colour, 25%), 25%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: #818181 !default;
$switch-radius: 15px !default;

/* Buttons ======================= */

// Shared styles
$button-border: none !default;
$button-background-focus: lighten($secondary-colour, 4%) !default;
$button-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 2rem !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #9F9F9F !default;

// Raised buttons
$button-raised-background: $secondary-colour !default;
$button-raised-background-hover: lighten($button-raised-background, 5%) !default;
$button-raised-color: #fff !default;

// Large buttons
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-colour !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 37px !default;
$button-floating-large-size: $button-floating-size * 1.5 !default;
$button-floating-radius: 50% !default;

/* Dropdown ======================= */

$dropdown-bg-colour: #fff !default;
$dropdown-hover-bg-colour: #eee !default;
$dropdown-colour: $secondary-colour !default;
$dropdown-item-height: 50px !default;

/* Global ======================= */

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

/* Typography ======================= */

$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

/* Flow Text ======================= */

$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

@import "_roboto";
@import "_typography";
@import "_style";
@import "_loader";
@import "_scrollbar";
@import "_navigation";
@import "_dropdown";
@import "_buttons";
@import "_checkboxes";
@import "_waves";
@import "_prism";
