footer.mainFooter
  p
    a(href='https://twitter.com/Mattparks5855', target='_blank', class="footer_button", title='Follow Me On Twitter', alt='Follow Me On Twitter')
      img(src='./img/buttons/twitter-icon.png')
    a(href='https://www.youtube.com/channel/UC9urardDd8fGDnUU0R7eKkQ', target='_blank', class="footer_button", title='Subscribe To Me On YouTube', alt='Subscribe To Me On YouTube')
      img(src='./img/buttons/youtube-icon.png')
    a(href='http://www.patreon.com/mattparks', target='_blank', class="footer_button", title='Fund Me On Patreon', alt='Fund Me On Patreon')
      img(src='./img/buttons/patreon-icon.png')
    a(href='https://github.com/mattparks', target='_blank', class="footer_button", title='Follow Me On Github', alt='Follow Me On Github')
      img(src='./img/buttons/github-icon.png')
  p Copyright &copy 2013-2016 Matthew Albrecht. | All Rights Reserved
  p Wisconsin 53051. | Phone (414)-429-1461
