//output:../about.html

- var no_nav = false
- var page = "About"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    .colour-bar
    #content.content
        include content/content_about.html
    include _footer.jade
    include _scripts.jade
