::-webkit-scrollbar {
  width: $scroll-bar-size;
  height: $scroll-bar-size;
}

::-webkit-scrollbar-track-piece {
  background-color: $background-colour;
  -webkit-border-radius: 0;
  -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
  box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
}

::-webkit-scrollbar-thumb:vertical {
  height: $scroll-bar-size;
  background-color: $scroll-bar-colour;
  -webkit-border-radius: 0;
  -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
  box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
}

::-webkit-scrollbar-thumb:horizontal {
  width: $scroll-bar-size;
  background-color: $scroll-bar-colour;
  -webkit-border-radius: 0;
  -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
  box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.44);
}
